<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Legacy API</title>
</head>
<body>
    <header>
        <h1>Family Legacy API</h1>
    </header>

    <article>
        <p>API for Family Legacy web and mobile application.</p>

        <h2>Links</h2>

        <ul>
            <li>
                <a href="docs/"><strong>Documentation</strong></a>
            </li>
            <li>
                <a href="coverage/">Test Coverage</a>
            </li>
            <li>
                <a href="v1/">API v1</a>
            </li>
        </ul>
    </article>

    <footer>
        <hr>

        <p>Copyright 2015 Family Legacy USA, LLC. (<a href="http://www.ourfamilylegacy.org/">http://www.ourfamilylegacy.org/</a>) - All rights reserved.</p>
    </footer>
</body>
</html>
